{% extends 'logistics/base.html' %}
{% block title %}Лента заявок{% endblock %}
{% block content %}
    <div class="submenu">
        <div class="links">
            <a class="selected" href="">Лента заявок</a>
            <a href="">Лента быстрых заявок</a>
        </div>
        <div class="buttons">
            <a href="{% url 'order_create' %}" class="button big_button">Создать заявку</a>
            <a href="" class="button big_button">Быстрая заявка</a>
        </div>
    </div>
    <div class="ol-content">
        <div class="filter-form">
            <h2>Фильтры</h2>
            <form method="get">
                <div class="filter-row">
                    {{ filter.form.client.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.client }}
                    </div>
                </div>
                <div class="filter-row">
                    {{ filter.form.manager.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.manager }}
                    </div>
                </div>
                <div class="filter-row">
                    {{ filter.form.status.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.status }}
                    </div>
                </div>
                <div class="filter-row">
                    <label>Дата</label>
                    <div class="wide-field">
                        <div class="narrow-field">
                            {{ filter.form.date__gte.label_tag }}
                            {{ filter.form.date__gte }}
                        </div>
                        <div class="narrow-field">
                            {{ filter.form.date__lte.label_tag }}
                            {{ filter.form.date__lte }}
                        </div>
                    </div>
                </div>
                <div class="filter-row">
                    {{ filter.form.search.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.search }}
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-center">
                        <input class="filter-submit button" type="submit" value="Применить фильтры" />
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-center">
                        <a class="filter-clear" href="{{ request.path }}">Очистить фильтры</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="orders-list">
            {% for obj in page_obj %}
                <div class="orders-list-item">
                    <div class="orders-list-item-content">
                        <div class="ol-col">
                            <p>
                                <span>Номер заявки</span>
                                <span class="field_value">{{ obj.number }}</span>
                            </p>
                            <p>
                                {% if obj.client_number %}
                                <span>Клиентский номер</span>
                                <span class="field_value">{{ obj.client_number }}</span>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                <span>Пункт отправки</span>
                            </p>
                            <p>
                                <span class="field_value">{{ obj.from_address_short }}</span>
                            </p>
                        </div>
                        <div class="ol-col">
                            <p>
                                <span>Дата заявки</span>
                                <span class="field_value">{{ obj.date|date:"SHORT_DATE_FORMAT" }}</span>
                                <span>Статус</span>
                                <span onclick="getModalView('{% url 'order_status' pk=obj.pk %}')" class="order_status {{ obj.status }}">{{ obj.get_status_display }}</span>
                            </p>
                            <p>
                                {% if obj.price %}
                                <span>Ставка</span>
                                <span class="field_value">{{ obj.price|floatformat:-2 }} {{ obj.price_currency.displayed_name }}</span>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                <span>Пункт доставки</span>
                            </p>
                            <p>
                                <span class="field_value">{{ obj.to_address_short }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="orders-list-item-links">
                        <div class="links-group">
                            <a href="{% url 'order_detail' pk=obj.pk %}">Подробный просмотр</a>
                        </div>
                        <div class="links-group">
                            <a href="{% url 'order_update' pk=obj.pk %}">Изменить</a>
                            <a href="{% url 'order_create' %}?copy={{ obj.pk }}">Скопировать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
            {% load i18n updateurl utils static %}
            {% if paginator.num_pages > 1 %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% update_query_string with 'page'=1 %}">&laquo; 1</a>
                {% endif %}
                {% if page_obj.previous_page_number > 1 %}
                    <span>...</span>
                    <a href="{% update_query_string with 'page'=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                {% endif %}

                <span class="current">{{ page_obj.number }}</span>

                {% if page_obj.next_page_number < paginator.num_pages %}
                    <a href="{% update_query_string with 'page'=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    <span>...</span>
                {% endif %}

                {% if page_obj.has_next  %}
                    <a href="{% update_query_string with 'page'=paginator.num_pages %}">{{ paginator.num_pages }} &raquo;</a>
                {% endif %}

            </span>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
