{% extends 'core/base.html' %}
{% block title %}Лента заявок{% endblock %}
{% block content %}
    <div class="submenu">
        <div class="filter-buttons mobile">
            <span id="show-filters">Фильтры</span>
            <a class="filter-clear" href="{{ request.path }}">Очистить фильтры</a>
        </div>
        <div class="links">
            <a href="{% url 'orders_list' %}">Лента заявок</a>
            <a class="selected" href="">Лента быстрых заявок</a>
        </div>
        <div class="buttons">
            <a href="{% url 'order_create' %}" class="button big_button">Создать заявку</a>
            <a href="{% url 'quick_order_create' %}" class="button big_button">Быстрая заявка</a>
        </div>
    </div>
    <div class="ol-content">
        <div class="filter-form">
            <div class="filter-title-row">
                <h2>Фильтры</h2>
                <div id="filter-cross">{% load static %}
                    <img src="{% static 'img/cross.svg' %}" alt="">
                </div>
            </div>
            <form method="get">
                {% if filter.form.client %}
                <div class="filter-row">
                    {{ filter.form.client.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.client }}
                    </div>
                </div>
                {% endif %}
                <div class="filter-row">
                    {{ filter.form.processed.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.processed }}
                    </div>
                </div>
                <div class="filter-row">
                    {{ filter.form.search.label_tag }}
                    <div class="wide-field">
                        {{ filter.form.search }}
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-center">
                        <input class="filter-submit button" type="submit" value="Применить фильтры" />
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-center">
                        <a class="filter-clear" href="{{ request.path }}">Очистить фильтры</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="orders-list">
            {% for obj in page_obj %}
                <div class="orders-list-item">
                    <div class="orders-list-item-content">
                        <div class="ol-row">
                            <p class="left">
                                <span>Номер заявки</span>
                                <span class="field_value">{{ obj.number }}</span>
                            </p>
                            <p class="center">
                                <span>Дата заявки</span>
                                <span class="field_value">{{ obj.created_at|date:"SHORT_DATE_FORMAT" }}</span>
                            </p>
                            <p class="right">
                                <span>Статус</span>
                                <span class="quick_order_status{% if not obj.processed %} unprocessed{% endif %}">{% if obj.processed %}Обработана{% else %}Не обработана{% endif %}</span>
                            </p>
                        </div>
                        {% if obj.client_number %}
                        <div class="ol-row">
                            <p>
                                <span>Клиентский номер</span>
                                <span class="field_value">{{ obj.client_number }}</span>
                            </p>
                            <p>&nbsp;</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="orders-list-item-links">
                        {% if obj.processed %}
                        <div class="links-group">
                            <a href="{% url 'orders_list' %}?quick_order={{ obj.pk }}">Перейти к заявкам</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
            {% load i18n updateurl utils static %}
            {% if paginator.num_pages > 1 %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% update_query_string with 'page'=1 %}">&laquo; 1</a>
                {% endif %}
                {% if page_obj.previous_page_number > 1 %}
                    <span>...</span>
                    <a href="{% update_query_string with 'page'=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                {% endif %}

                <span class="current">{{ page_obj.number }}</span>

                {% if page_obj.next_page_number < paginator.num_pages %}
                    <a href="{% update_query_string with 'page'=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    <span>...</span>
                {% endif %}

                {% if page_obj.has_next  %}
                    <a href="{% update_query_string with 'page'=paginator.num_pages %}">{{ paginator.num_pages }} &raquo;</a>
                {% endif %}

            </span>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
