<div id="order_form">{% load static %}
    <div class="gray_plate form-2cols">
        <div class="form-col">
            <div class="form-row">
                <div class="form-field mth">
                    {{ fields.client_number.label_tag }}
                    {{ fields.client_number }}
                    {% if fields.client_number.errors %}{{ fields.client_number.errors }}{% else %}&nbsp;{% endif %}
                </div>
                <div class="form-field lth">
                    {{ fields.date.label_tag }}
                    {{ fields.date }}
                    {% if fields.date.errors %}{{ fields.date.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            {% if fields.client %}
            <div class="form-row">
                <div class="form-field mth">
                    {{ fields.client.label_tag }}
                    {{ fields.client }}
                    {% if fields.client.errors %}{{ fields.client.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            {% endif %}
            <div class="form-row">
                <div class="form-field mth">
                    {{ fields.contract.label_tag }}
                    {{ fields.contract }}
                    {% if fields.contract.errors %}{{ fields.contract.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-field mth">
                    {{ fields.cargo_name.label_tag }}
                    {{ fields.cargo_name }}
                    {% if fields.cargo_name.errors %}{{ fields.cargo_name.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    {{ fields.cargo_value.label_tag }}
                    <div class="form-row center">
                        <div class="price_field">{{ fields.cargo_value }}{{ fields.cargo_value_currency }}</div>
                        <div class="checkbox">{{ fields.insurance_needed }}{{ fields.insurance_needed.label_tag }}</div>
                    </div>
                    {% if fields.cargo_value.errors %}{{ fields.cargo_value.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-field mth">
                    {{ fields.cargo_origin.label_tag }}
                    {{ fields.cargo_origin }}
                    {% if fields.cargo_origin.errors %}{{ fields.cargo_origin.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
        </div>
        <div class="form-col">
            <div class="form-row">
                <div class="form-field">
                    {{ fields.gov_contract_number.label_tag }}
                    {{ fields.gov_contract_number }}
                    {% if fields.gov_contract_number.errors %}{{ fields.gov_contract_number.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <b>{{ fields.services.label_tag }}</b>
                    {{ fields.services }}
                    {% if fields.services.errors %}{{ fields.services.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    {{ fields.comment.label_tag }}
                    {{ fields.comment }}
                    {% if fields.comment.errors %}{{ fields.comment.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="form-2cols">
        <div class="form-col">
            <h3>Пункт отправки</h3>
            <div class="form-row">
                <div class="mth">
                    <div class="form-field">
                        <div class="editable_field">{{ fields.from_org.label_tag }}<a class="related-widget-wrapper-link add-related" id="add_id_from_org" data-popup="yes" href="{% url 'org_add' %}?_to_field=id&amp;_popup=1"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Добавить"></a></div>
                        {{ fields.from_org }}
                        {% if fields.from_org.errors %}{{ fields.from_org.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                    <div class="form-field">
                        {{ fields.from_date_wanted.label_tag }}
                        {{ fields.from_date_wanted }}
                        {% if fields.from_date_wanted.errors %}{{ fields.from_date_wanted.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
                <div class="lth">
                    <div class="form-field contacts">
                        {{ fields.from_contacts.label_tag }}
                        {{ fields.from_contacts }}
                        {% if fields.from_contacts.errors %}{{ fields.from_contacts.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <div class="form-field">
                        {{ fields.from_index.label_tag }}
                        {{ fields.from_index }}
                        {% if fields.from_index.errors %}{{ fields.from_index.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
                <div class="lth">
                    <div class="form-field">
                        <div class="editable_field">{{ fields.from_country.label_tag }}<a class="related-widget-wrapper-link add-related" id="add_id_from_country" data-popup="yes" href="{% url 'country_add' %}?_to_field=id&amp;_popup=1"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Добавить"></a></div>
                        {{ fields.from_country }}
                        {% if fields.from_country.errors %}{{ fields.from_country.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
                <div class="lth">
                    <div class="form-field">
                        <div class="editable_field">{{ fields.from_city.label_tag }}<a class="related-widget-wrapper-link add-related" id="add_id_from_city" data-popup="yes" href="{% url 'city_add' %}?_to_field=id&amp;_popup=1"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Добавить"></a></div>
                        {{ fields.from_city }}
                        {% if fields.from_city.errors %}{{ fields.from_city.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    {{ fields.from_address.label_tag }}
                    {{ fields.from_address }}
                    {% if fields.from_address.errors %}{{ fields.from_address.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="mth">
                    <div class="form-field">
                        {{ fields.from_label.label_tag }}
                        {{ fields.from_label }}
                        {% if fields.from_label.errors %}{{ fields.from_label.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-col">
            <h3>Пункт доставки</h3>
            <div class="form-row">
                <div class="mth">
                    <div class="form-field">
                        <div class="editable_field">{{ fields.to_org.label_tag }}<a class="related-widget-wrapper-link add-related" id="add_id_to_org" data-popup="yes" href="{% url 'org_add' %}?_to_field=id&amp;_popup=1"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Добавить"></a></div>
                        {{ fields.to_org }}
                        {% if fields.to_org.errors %}{{ fields.to_org.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                    <div class="form-field">
                        {{ fields.to_date_wanted.label_tag }}
                        {{ fields.to_date_wanted }}
                        {% if fields.to_date_wanted.errors %}{{ fields.to_date_wanted.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
                <div class="lth">
                    <div class="form-field contacts">
                        {{ fields.to_contacts.label_tag }}
                        {{ fields.to_contacts }}
                        {% if fields.to_contacts.errors %}{{ fields.to_contacts.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <div class="form-field">
                        {{ fields.to_index.label_tag }}
                        {{ fields.to_index }}
                        {% if fields.to_index.errors %}{{ fields.to_index.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
                <div class="lth">
                    <div class="form-field">
                        <div class="editable_field">{{ fields.to_country.label_tag }}<a class="related-widget-wrapper-link add-related" id="add_id_to_country" data-popup="yes" href="{% url 'country_add' %}?_to_field=id&amp;_popup=1"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Добавить"></a></div>
                        {{ fields.to_country }}
                        {% if fields.to_country.errors %}{{ fields.to_country.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
                <div class="lth">
                    <div class="form-field">
                        <div class="editable_field">{{ fields.to_city.label_tag }}<a class="related-widget-wrapper-link add-related" id="add_id_to_city" data-popup="yes" href="{% url 'city_add' %}?_to_field=id&amp;_popup=1"><img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Добавить"></a></div>
                        {{ fields.to_city }}
                        {% if fields.to_city.errors %}{{ fields.to_city.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    {{ fields.to_address.label_tag }}
                    {{ fields.to_address }}
                    {% if fields.to_address.errors %}{{ fields.to_address.errors }}{% else %}&nbsp;{% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="mth">
                    <div class="form-field">
                        {{ fields.to_label.label_tag }}
                        {{ fields.to_label }}
                        {% if fields.to_label.errors %}{{ fields.to_label.errors }}{% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>