html {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  max-width: 1920px;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

.mobile {
    display: none;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #103055 0%, #1C477E 100%);
    height: 100px;
    margin-bottom: 15px;
}

header a {
    display: block;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
}

.menu a:hover {
    color: #8EB5E8;
}

a img {
    height: 100%;
    width: 100%;
}

#profile {
    position: relative;
    margin-left: 30px;
}

#profile_img {
    height: 25px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile_img img {
    height: 100%;
}

#profile_img.active {
    background: #E9F3FE;
}

#hidden_menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 15px;
    border-radius: 8px;
    background: #E9F3FE;
    color: #1C477E !important;
    white-space: nowrap;
    z-index: 1000;
    font-size: 14px;
}

#hidden_menu a {
    font-weight: 600;
    color: #1C477E !important;
    font-size: 14px;
    margin-left: 0;
}

#hidden_menu a:hover {
    color: #8EB5E8 !important;
}

#content {
    flex: 1 0 auto;
    display: flex;
/*    flex-direction: column;*/
}

/*#content>.wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.button {
    padding: 10px;
    color: white;
    background-color: #1C477E;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
}

.button:hover {
    background-color: #0D386E;
}

.dark_button {
    background-color: #012F55;
}

.dark_button:hover {
    background-color: #08243A;
}

.big_button {
    padding: 15px;
    min-width: 150px;
}

a.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
}

.submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu .links {
    border-bottom: 2px solid #B3B3B3;
    border-collapse: collapse;
    display: flex;
}

.submenu .links a {
    font-size: 24px;
    font-weight: 600;
    color: #B3B3B3;
    padding: 10px;
    text-decoration: 0;
    border-bottom: 2px solid transparent;
    display: block;
    margin-bottom: -2px;
}

.submenu .links a:hover {
    color: #3D3D3D;
    border-color: #3D3D3D;
}

.submenu .links a.selected {
    color: #012F55;
    border-color: #012F55;
}

.buttons {
    display: flex;
    /*min-width: 400px;*/
}

.buttons .button {
    margin-left: 15px;
}

.ol-content {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
}

.filter-form {
    width: 286px;
    margin-right: 10px;
    padding: 10px;
    top: 207px;
    left: 180px;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
}

.filter-form .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.filter-row {
    width: 95%;
    margin-bottom: 15px;
}

.filter-row>label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.wide-field {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.wide-field>* {
    width: 100% !important;
}

.narrow-field {
    width: 45% !important;
}

.narrow-field>label {
    font-size: 14px;
    font-weight: 600;
}

.filter-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

select,
textarea,
input[type=date],
input[type=password],
input[type=text],
input[type=email],
input[type=number] {
    line-height: 28px;
    color: #444;
    display: block;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 8px;
}

textarea {
    line-height: normal !important;
    resize: vertical;
}

select {
    height: 32px;
}

input[type=checkbox] {
    width: auto !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 8px !important;
    height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px !important;
}

a.filter-clear {
    color: #848484;
    font-size: 14px;
}

a.filter-clear:hover {
    color: #3D3D3D;
}

.orders-list {
    width: calc(100% - 310px) !important;
}

.orders-list-item {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.orders-list-item-content {
    background: #F8F8F8;
    width: 100%;
    padding: 10px;
}

.ol-row {
    width: calc(100% - 20px);
    display: flex;
}

.ol-row>p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;

}

.ol-row>* {
    min-width: 30%;
}

.ol-row>*:first-child {
    width: 40%;
}

.ol-row>p.left {
    order: 1;
}

.ol-row>p.center {
    order: 2;
}

.ol-row>p.right {
    order: 3;
}

/*.flex-wrap>*:first-child {*/
/*    width: 100%;*/
/*}*/

.orders-list-item-links {
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    background: #E9F2FE;
}

.extra_links {
    margin-top: 15px;
}

.extra_links a,
.orders-list-item-links a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #1C477E;
}

.orders-list-item-links a:hover {
    color: #8EB5E8;
}

.pagination {
    float: right;
    margin-top: 15px;
}

.step-links {
    font-size: 14px;
    font-weight: 600;
}

.step-links>* {
    padding: 2px 5px;
}

.step-links a {
    color: #787878;
    text-decoration: none;
}

.step-links a:hover {
    color: #3D3D3D;
}

.current {
    color: white;
    background: #1C477E;
    border-radius: 2px;
}

.order_status {
    font-weight: 600;
    color: #19A216;
    cursor: pointer;
    text-decoration: underline;
}

.quick_order_status {
    font-weight: 600;
    color: #19A216;
}

.quick_order_status.unprocessed {
    color: red;
}

.order_status:hover {
    color: #2AE926;
}

.field_value {
    font-weight: 600;
}

.headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headline-group {
    display: flex;
    align-items: center;
}

.headline>div {
    white-space:nowrap;
}

.headline-group h1 {
    margin-right: 25px;
    font-size: 24px;
}

.order_number {
    color: #1C477E;
}

.back_url {
    width: auto;
    display: inline-block;
    margin: 15px 0;
}

.back_url a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: flex;
    width: auto;
    white-space: nowrap;
}

.back_url img {
    height: 1em;
    margin-right: 10px
}

.back_url:hover {
    text-decoration: underline;
}

.table_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pseudo_table {
    width: calc(50% - 20px);
}

.pseudo_tr {
    display: flex;
    margin-bottom: 10px
}

.pseudo_tr.one_col {
    display: block;
}

.pseudo_th {
    font-weight: 600;
}

.pseudo_td {}

.pseudo_tr>*:first-child {
    width: 40%;
    margin-left: 0 !important;
}

.pseudo_tr>*:nth-child(3) {
    margin-left: 15px;
}

.pseudo_tr.one_col>* {
    width: auto !important;
    margin-left: 0;
    margin-bottom: 10px;
}

.pseudo_tr.multi {
    display: flex;
}

.pseudo_tr.multi>* {
    margin-right: 50px;
}

.light_blue {
    background: #E8F1FD;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 8px;
}

ul.no_bullets {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

ul.no_bullets li {
    margin-bottom: 10px;
}

.open_mark {
    cursor: pointer;
}

.open_mark:hover {
    text-decoration: underline;
}

.open_mark.opened img {
    transform: rotate(180deg);
}

table#cargo_table {
    width: 100%;
    display: none;
}

table#cargo_table,
table#cargo_table tr,
table#cargo_table th,
table#cargo_table td {
    border-collapse: collapse;
    font-size: 14px;
}

table#cargo_table thead tr {
    background-color: #1C477E;
    color: white;
}

table#cargo_table thead th {
    text-align: start !important;
}

table#cargo_table tbody tr:nth-child(2n+1) {
    background-color: #E8F1FD;
}

table#cargo_table tbody tr:nth-child(2n) {
    background-color: #D1E4FC;
}

table#cargo_table th,
table#cargo_table td {
    height: 45px;
    padding-left: 15px;
}

footer {
    height: 50px;
    margin-top: 15px;
    background: url("/static/img/footer.svg") repeat-x center, linear-gradient(90deg, #103055 0%, #1C477E 100%);
    flex-shrink: 0;
}

#alert {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #1C477E52;
}

#alert>div {
    display: flex;
}

#alert_label {
    background: white;
    padding: 50px;
    min-width: 250px;
    min-height: 150px;
}

#alert .order_status {
    text-decoration: none !important;
    color: #19A216 !important;
    cursor: auto;
}

#cross{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: -30px;
    cursor: pointer;
}

#cross img {
    width: 100%;
    height: 100%;
}

form .gray_plate {
    background: #F0F0F0;
    padding: 15px;
    border-radius: 8px;
}

.form-2cols {
    display: flex;
    justify-content: space-between;
}

.form-col {
    width: 50%;
}

.form-row {
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
}

.form-row>div {
    height: auto !important;
}

.form-row.center {
    align-items: center;
}

.form-field {
    width: 100%;
}

.pseudo_label,
.form-field label {
    font-size: 14px;
}

.form-field input[type=text],
.form-field input[type=number] {
    width: calc(100% - 25px);
    margin-right: 10px;
}

.form-field .select2-container {
    width: calc(100% - 13px) !important;
    margin-right: 10px;
}

.form-field textarea {
    width: calc(100% - 25px);
    margin-right: 10px;
}

.contacts textarea {
    resize: none;
    height: 100px;
}

.mth {
    width: 60%;
}

.lth {
    width: 40%;
}

label.required::after {
    content: '*';
    color: red;
    font-weight: 600;
}

.price_field {
    display: flex;
}

.price_field input {
    margin-right: 5px;
}

.checkboxes {
    display: flex;
    flex-flow: row wrap;
}

.checkboxes>div,
.checkbox {
    display: flex;
    align-items: center;
}

.checkboxes>div input {
    margin: 0 3px 0 0;
}

.checkbox input {
    margin-right: 3px;
    margin-left: 15px
}

.checkboxes>div label {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-right: 15px;
}

.cargo_form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cargo_form>.gray_plate {
    width: calc(100% - 50px);
}

.cargo_form .form-row>div {
    width: calc(25% - 10px) !important;
    margin-right: 10px;
}

.quick_doc  .form-row>div {
    width: calc(50% - 10px) !important;
}

.cargo_form .form-field.wide {
    width: 100% !important;
}

ul.status_list {
    list-style-type: none;
}

.status_item {
    margin-right: 15px;
}

.cargo-size {
    display: flex;
    justify-content: space-between;
}

.cargo_form .del_btn {
    height: 150px !important;
    width: 40px;
    padding: 0 5px;
    background: #F2D4D4;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.quick_doc .del_btn {
    height: 70px !important;
}

.cargo_form .del_btn:hover {
    background: #F4B7B7
}

#add_quick_doc,
#add_cargo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D1E4FC;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

#add_quick_doc:hover,
#add_cargo:hover {
    background: #8EB6E9;
}

#form_submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    margin: 15px 0;
}

#form_submit>* {
    margin-left: 25px;
}

.gray_link {
    color: #848484;
}

.hidden_fields {
    display: none;
}

.errorlist {
    color: red;
    font-size: 14px;
}

.errorfield {
    border-color: red
}

.small_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_form>div {
    min-width: 500px;
}

.small_form table {
    width: 100%;
    table-layout: auto;
}

.small_form #form_submit {
    justify-content: center;
    margin-top: 15px;
}

.small_form h2 {
    text-align: center;
}

.small_form th {
    text-align: start;
    width: 1%;
    white-space: nowrap;
    padding-right: 15px;
}

.small_form input[type=text],
.small_form input[type=number],
.small_form input[type=email],
.small_form input[type=password] {
    width: calc(100% - 12px);
}

.popup_content form .select2-container,
.small_form .select2-container {
    width: 100% !important;
}

.message {
    text-align: center;
}

.message_img {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_img>img {
    height: 100%;
}

.message_title {
    text-align: center;
}

.message_success {
    color: #012F55;
}

.message_error {
    color: red;
}

.popup_content {
    margin-left: 25px;
    margin-bottom: 25px;
}

.popup_content form {
    width: 400px;
}

.small_form form>div,
.popup_content form>div {
    width: 100%;
    margin-bottom: 15px;
}

.popup_content form input {
    width: 100%;
}

.small_form h2 {
    margin-top: unset;
}

.editable_field {
    display: flex;
    align-items: center;
}

.related-widget-wrapper-link {
    display: flex;
    height: 15px;
    width: 15px;
    margin-left: 5px
}

.editable_field img {
    height: 100%;
    width: 100%;
}

.docs_list {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.docs_item {
    display: flex;
    align-items: center;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.docs_item>* {
    margin-right: 5px;
}

.doc_icon {
    height: 20px;
}

a.doc_download {
    color: #19A216;
    white-space: nowrap;
}

a.doc_download:hover {
    color: #2AE926;
}

.doc_delete {
    display: flex;
    height: 8px;
    width: 8px;
}

.doc_delete>img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        max-width: 825px;
    }

    .submenu .links a {
        font-size: 20px;
    }

    .button {
        font-size: 14px;
    }

    .big_button {
        padding: 12px;
        min-width: 120px;
    }

    .filter-form {
        width: 261px;
    }

    .orders-list {
        width: calc(100% - 271px) !important;
    }

    .ol-row {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ol-row>*:first-child {
        width: auto;
        min-width: 50%;
    }

    .ol-row>p.center {
        order: 3
    }

    .ol-row>p.right {
        order: 2
    }

    .ol-row.narrow {
        justify-content: flex-start;
    }

    .ol-row.narrow>*:first-child {
        width: auto;
        min-width: unset;
        margin-right: 15px
    }

    .form-row {
        flex-wrap: wrap;
    }

    .mth {
        width: 90%;
    }

    .gray_plate .checkbox input {
        margin-left: 0 !important;
    }

    .address>* {
        width: 40%;
    }

    .address .lth {
        width: 50% !important;
    }

    .lth.contacts {
        width: 90% !important;
    }

    .cargo_form .form-row:first-child>div {
        width: 45% !important;
    }

    .headline {
        align-items: flex-start;
        /*margin-bottom: 15px;*/
    }

    .headline-group {
        flex-wrap: wrap;
    }

    .headline-group h1 {
        margin-block-start: 0;
        margin-block-end: 0.33em;
        font-size: 20px;
    }

    .headline .headline-group:last-child {
        justify-content: flex-end;
    }

    .headline .headline-group:last-child>* {
        margin-bottom: 0.33em
    }

    .table_list.light_blue>.pseudo_table {
        width: calc(30% - 20px);
    }

    .table_list.light_blue>.pseudo_table:first-child {
        width: calc(70% - 20px);
    }

    .pseudo_tr.multi {
        flex-wrap: wrap;
    }

    .pseudo_tr.multi>*:first-child {
        width: 70% !important;
    }

    .mob-reverse {
        flex-direction: column-reverse;
    }

    .mob-reverse .pseudo_table {
        width: 100%;
    }

    .cargo-params {
        display: flex;
    }

    .cargo-params .pseudo_tr {
        display: flex;
        white-space: nowrap;
        margin-right: 10px;
    }

    .cargo-params .pseudo_tr>* {
        width: auto !important;
        margin-right: 10px;
    }

    .wide-only {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    #alert_label {
        min-width: unset;
        width: calc(100% - 20px);
        padding: 10px;
    }

    #alert_label>h1 {
        font-size: 26px;
    }

    #alert>div {
        max-width: calc(100% - 35px);
        margin-right: 15px;
    }

    header {
        height: 70px;
    }

    header a img {
        width: 70%;
        height: 70%;
    }

    .wrapper {
        width: calc(100% - 40px);
    }

    .mobile {
        display: block;
    }

    #nav-icon {
        display: block !important;
    }

    .menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        padding: 15px;
        background: #E9F3FE;
        color: #1C477E !important;
        white-space: nowrap;
        z-index: 1000;
        font-size: 14px;
    }

    .menu>a {
        color: #1C477E !important;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .menu>a:hover {
        color: #8EB5E8 !important;
    }

    #profile_img {
        display: none;
    }

    #hidden_menu {
        display: block;
        position: unset;
        padding: 15px 0 0 0;
    }

    #hidden_menu p {
        display: flex;
        align-items: center;
    }

    #hidden_menu img {
        margin-right: 3px;
    }

    #hidden_menu a {
        margin-left: 25px;
    }

    .submenu {
        flex-direction: column-reverse;
    }

    .submenu .links a {
        font-size: 16px;
    }

    .buttons {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .buttons .button:first-child {
        margin-left: 0;
    }

    .big_button {
        min-width: unset;
    }

    .filter-buttons {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    #show-filters {
        padding: 8px 20px;
        border: 1px solid #1C477E;
        border-radius: 8px;
        font-size: 14px;
        color: #1C477E;
        cursor: pointer;
        margin-right: 10px
    }

    #filter-cross {
        cursor: pointer;
    }

    .filter-form {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 80px;
        left: 10px;
        width: calc(100% - 40px);
        background: white;
        margin: 0;
    }

    .filter-title-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .filter-title-row h2 {
        margin: 0
    }

    .orders-list {
        width: 100% !important;
        font-size: 14px;
    }

    .orders-list-item {
        border-radius: unset;
    }

    .ol-row>p {
        display: flex;
        flex-direction: column;
    }

    .orders-list-item-links {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .links-group {
        padding: 10px 0;
    }

    .links-group>a {

    }

    .links-group:first-child {
        width: 100%;
        background-color: #0D386E;
        display: flex;
        justify-content: center;
    }

    .links-group:first-child>a {
        color: white;
        text-decoration: none;
        font-weight: 400;
    }

    .small_form>div {
        min-width: 85vw;
        width: 95%
    }

    ul.status_list {
        padding-inline-start: 0;
        font-size: 14px;
    }

    .form-2cols {
        flex-direction: column;
    }

    .form-col {
        width: 100%;
    }

    .mth {
        width: 100%;
    }

    .address>* {
        width: 30%;
    }

    .address .lth {
        width: 60% !important;
    }

    .lth.contacts {
        width: 100% !important;
    }

    .cargo_form {
        flex-direction: column;
        width: calc(100% - 30px);
        padding: 15px;
        background: #F0F0F0;
        border-radius: 8px;
    }

    .cargo_form>.gray_plate {
        width: 100%;
        padding: 0;
        background-color: transparent;
    }

    .cargo_form .form-row:first-child>div {
        width: 100% !important;
    }

    .cargo_form .del_btn {
        padding: 10px 0;
        width: 100%;
        height: auto !important;
        margin-left: 0
    }

    .cargo-size {
        margin-bottom: 15px;
    }

    #content h1 {
        font-size: 20px;
    }

    #content h3 {
        font-size: 16px;
    }

    .headline {
        flex-direction: column;
        align-items: flex-start;
    }

    .headline-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .headline-group>* {
        margin-bottom: 15px !important;
    }

    .table_list {
        flex-direction: column;
    }

    .table_list>.pseudo_table {
        width: 100% !important;
        font-size: 14px;
    }

    .pseudo_tr {
        width: 100%;
        flex-direction: column;
    }

    .pseudo_tr>* {
        width: 100% !important;
    }

    .pseudo_tr>*:nth-child(3) {
        margin-left: 0;
    }

    .cargo-params {
        flex-flow: row wrap;
    }

    .mob-reverse {
        flex-direction: column-reverse;
    }

    .mob-reverse>.pseudo_table:last-child {
        background-color: #E8F1FD;
        padding: 20px 10px;
        width: calc(100% - 20px) !important;
    }

}
