html {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  max-width: 1920px;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #103055 0%, #1C477E 100%);
    height: 100px;
    margin-bottom: 15px;
}

header a {
    display: block;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    font-size: 18px;
    /*font-weight: 600;*/
    margin-left: 30px;
    text-decoration: none;
    display: inline-block;
}

a img {
    height: 100%;
    width: 100%;
}

#content {
    flex: 1 0 auto;
}

.button {
    padding: 10px;
    color: white;
    background-color: #1C477E;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
}

.big_button {
    padding: 15px;
    min-width: 150px;
}

a.button {
    text-decoration: none;
    display: block;
    text-align: center;
}

.submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu .links {
    border-bottom: 2px solid #B3B3B3;
    border-collapse: collapse;
    display: flex;
}

.submenu .links a {
    font-size: 24px;
    font-weight: 600;
    color: #B3B3B3;
    padding: 10px;
    text-decoration: 0;
    border-bottom: 2px solid transparent;
    display: block;
    margin-bottom: -2px;
}

.submenu .links a.selected {
    color: #012F55;
    border-color: #012F55;
}

.buttons {
    display: flex;
    /*min-width: 400px;*/
}

.buttons .button {
    margin-left: 15px;
}

.ol-content {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
}

.filter-form {
    width: 300px;
    margin-right: 10px;
    padding: 10px;
    top: 207px;
    left: 180px;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
}

.filter-form .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.filter-row {
    width: 95%;
    margin-bottom: 15px;
}

.filter-row>label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.wide-field {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.wide-field>* {
    width: 100% !important;
}

.narrow-field {
    width: 45% !important;
}

.narrow-field>label {
    font-size: 14px;
    font-weight: 600;
}

.filter-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

select,
textarea,
input[type=date],
input[type=password],
input[type=text],
input[type=number] {
    line-height: 28px;
    color: #444;
    display: block;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 8px;
}

textarea {
    line-height: normal !important;
    resize: vertical;
}

select {
    height: 32px;
}

input[type=checkbox] {
    width: auto !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 8px !important;
    height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px !important;
}

a.filter-clear {
    color: #848484;
    font-size: 14px;
}

.orders-list {
    width: calc(100% - 310px) !important;
}

.orders-list-item {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.orders-list-item-content {
    background: #F8F8F8;
    padding: 10px;
    display: flex;
}

.ol-col {
    width: 97%;
}

.ol-col span {
    margin-right: 15px
}

.orders-list-item-links {
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    background: #E9F2FE;
}

.orders-list-item-links a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #1C477E;
}

.pagination {
    float: right;
    margin-top: 15px;
}

.step-links {
    font-size: 14px;
    font-weight: 600;
    color: #787878;
}

.step-links>* {
    padding: 2px 5px;
}

.step-links a {
    color: #787878;
    text-decoration: none;
}

.current {
    color: white;
    background: #1C477E;
    border-radius: 2px;
}

.order_status {
    font-weight: 600;
    color: #19A216;
    cursor: pointer;
}

.order_status:hover {
    text-decoration: underline;
}

.field_value {
    font-weight: 600;
}

.headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.order_number {
    color: #1C477E;
}

.back_url {
    width: auto;
    display: inline-block;
    margin: 15px 0;
}

.back_url a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: flex;
    width: auto;
    white-space: nowrap;
}

.back_url img {
    height: 1em;
    margin-right: 10px
}

.back_url:hover {
    text-decoration: underline;
}

.table_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pseudo_table {
    width: calc(50% - 20px);
}

.pseudo_tr {
    display: flex;
    margin-bottom: 10px
}

.pseudo_tr.one_col {
    display: block;
}

.pseudo_th {
    font-weight: 600;
}

.pseudo_td {}

.pseudo_tr>*:first-child {
    width: 40%;
    margin-left: 0 !important;
}

.pseudo_tr>*:nth-child(3) {
    margin-left: 15px;
}

.pseudo_tr.one_col>* {
    width: auto !important;
    margin-left: 0;
    margin-bottom: 10px;
}

.pseudo_tr.multi {
    display: flex;
}

.pseudo_tr.multi>* {
    margin-right: 50px;
}

.light_blue {
    background: #E8F1FD;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 8px;
}

ul.no_bullets {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

ul.no_bullets li {
    margin-bottom: 10px;
}

.open_mark {
    cursor: pointer;
}

.open_mark:hover {
    text-decoration: underline;
}

.open_mark.opened img {
    transform: rotate(180deg);
}

table#cargo_table {
    width: 100%;
    display: none;
}

table#cargo_table,
table#cargo_table tr,
table#cargo_table th,
table#cargo_table td {
    border-collapse: collapse;
    font-size: 14px;
}

table#cargo_table thead tr {
    background-color: #1C477E;
    color: white;
}

table#cargo_table thead th {
    text-align: start !important;
}

table#cargo_table tbody tr:nth-child(2n+1) {
    background-color: #E8F1FD;
}

table#cargo_table tbody tr:nth-child(2n) {
    background-color: #D1E4FC;
}

table#cargo_table th,
table#cargo_table td {
    height: 45px;
    padding-left: 15px;
}

footer {
    height: 50px;
    margin-top: 15px;
    background: url("/static/img/footer.svg") repeat-x center, linear-gradient(90deg, #103055 0%, #1C477E 100%);
    flex-shrink: 0;
}

#alert {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #1C477E52;
}

#alert>div {
    display: flex;
}

#alert_label {
    background: white;
    padding: 50px;
    min-width: 250px;
    min-height: 150px;
}

#cross{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: -30px;
    cursor: pointer;
}

#cross img {
    width: 100%;
    height: 100%;
}

form .gray_plate {
    background: #F0F0F0;
    padding: 15px;
    border-radius: 8px;
}

.form-2cols {
    display: flex;
    justify-content: space-between;
}

.form-col {
    width: 50%;
}

.form-row {
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
}

.form-row>div {
    height: auto !important;
}

.form-row.center {
    align-items: center;
}

.form-field {
    width: 100%;
}

.pseudo_label,
.form-field label {
    font-size: 14px;
}

.form-field input[type=text],
.form-field input[type=number] {
    width: calc(100% - 25px);
    margin-right: 10px;
}

.form-field .select2-container {
    width: calc(100% - 13px) !important;
    margin-right: 10px;
}

.form-field textarea {
    width: calc(100% - 25px);
    margin-right: 10px;
}

.contacts textarea {
    resize: none;
    height: 100px;
}

.mth {
    width: 60%;
}

.lth {
    width: 40%;
}

.required::after {
    content: '*';
    color: red;
    font-weight: 600;
}

.price_field {
    display: flex;
}

.price_field input {
    margin-right: 5px;
}

.checkboxes {
    display: flex;
    flex-flow: row wrap;
}

.checkboxes>div,
.checkbox {
    display: flex;
    align-items: center;
}

.checkboxes>div input {
    margin: 0 3px 0 0;
}

.checkbox input {
    margin-right: 3px;
    margin-left: 15px
}

.checkboxes>div label {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-right: 15px;
}

.cargo_form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cargo_form>.gray_plate {
    width: calc(100% - 50px);
}

.cargo_form .form-row>div {
    width: calc(25% - 10px) !important;
    margin-right: 10px;
}

.cargo_form .form-field.wide {
    width: 100% !important;
}

.cargo-size {
    display: flex;
    justify-content: space-between;
}

.cargo_form .del_btn {
    height: 150px !important;
    width: 40px;
    padding: 0 5px;
    background: #F2D4D4;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

#add_cargo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D1E4FC;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

#form_submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    margin: 15px 0;
}

#form_submit>* {
    margin-left: 25px;
}

.gray_link {
    color: #848484;
}

.hidden_fields {
    display: none;
}

.errorlist {
    color: red;
    font-size: 14px;
}

.errorfield {
    border-color: red
}

.small_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#cross svg:hover {*/
/*    background-color: black;*/
/*    stroke: white;*/
/*    cursor: pointer;*/
/*}*/
